<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your tvshows</p>
{{#if tvshows}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each tvshows}}
                <tr>
                    <td><a href="/tvshows/{{_id}}"></a>{{title}}</td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You have not created any tvshows</p>
{{/if}}